<div class="content-heroes">
  <section class="heroes">
    <div class="characters">
      <div class="content-image">
        <span><img src={{charactersSrc}}></span>
        <h2>Characters</h2>
      </div>
      <div>
        <select class="sort">
          <option value=""></option>
          <option value="byName">Sort by name</option>
        </select>
      </div>
    </div>
    
    <app-hero
    (addToFavouriteClick)="addToFavourite($event)"
     [hero]="hero" 
     *ngFor="let hero of heroes">
    </app-hero>
  </section>
  <section class="favourites">
    <h2>My favourites</h2>
    <div *ngFor="let favorite of favourites$ | async">
      <mat-card class="favorite-card">
        <img class="img-favorite" mat-card-image style="background-image:url('{{favorite.thumbnail.path}}.{{favorite.thumbnail.extension}}')">
        <mat-card-content>
          <p>
            {{favorite.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>