<div class="content-heroes">
  <section class="heroes">
    <div class="characters">
      <div class="content-image">
        <span><img src={{charactersSrc}}></span>
        <h2>Characters</h2>
      </div>
      <div>
        <select class="sort"
          #sort
          (change)='onOptionsSelected(sort.value)'>
          <option value=""></option>
          <option value="byName">Sort by name</option>
          <option value="byModified">Sort by date modified</option>
        </select>
      </div>
    </div>
    <div class="content-heroes" *ngIf="heroes$ | async as heroesList">
      <app-hero
        (addToFavouriteClick)="addToFavourite($event)"
        [hero]="hero" 
        *ngFor="let hero of heroesList| filtro:page:pageSize:search">
      </app-hero>
    </div>
    <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent($event)"
               aria-label="Select page">
    </mat-paginator>
  </section>
  <section class="favourites">
    <div class="content-image">
      <span><img src={{favouritesSrc}}></span>
      <h2>My favourites</h2>
    </div>
    <div *ngFor="let favorite of favourites$ | async">
      <mat-card class="favorite-card">
        <img 
        (click)="onClickDeleteFavorite(favorite.id)"
        class="img-favorite-delete" 
        src={{deleteSrc}}>
        <img class="img-favorite" mat-card-image style="background-image:url('{{favorite.thumbnail.path}}.{{favorite.thumbnail.extension}}')">
        <mat-card-content>
          <p [innerHTML]="favorite.description">
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>