.card {
  margin: 5px;
  min-height: 350px;
  min-width: 400px;
  max-width: 400px;
}

.mat-card-header .mat-card-title {
  padding-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 174px;
}

.header-image {
  height: 200px;
  width: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
}

.comics {
  column-count: 2;
}

.comics ul {
  margin: 0;
  padding-left: 0;
}

.comics ul li {
  list-style: none;
  margin-bottom: 5px;
}

.comics a {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 300ms;
}

.comics a:hover {
  color: rgba(220, 29, 35, 1);
  padding: 0px;
}

.comics a:hover:before {
  content: URL('./assets/images/link-arrow.png');
  position: relative;
  top: 5px;
}

.hero-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  min-height: 120px;
}

.btn-card {
  margin-top: 20px;
}

.comics li:nth-of-type(1n+5) {
  display: none;
}
