<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar class="header-image" src='{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}'/>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>
      <p class="hero-description">
        {{hero.description}}
      </p>
      <button class="btn-card" mat-flat-button color="warn" (click)="onClickHero()">VIEW MORE</button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Related comics</h3>
        <div class="comics">
          <ul>
            <li class="related-comics" *ngFor="let comic of hero.comics.items">
              <a (click)="onClickComic(comic.resourceURI)">
                {{comic.name}}
              </a>
            </li>
          </ul>
        </div>
  </mat-card-content>
</mat-card>
