.content-heroes {
  display: flex;
  justify-content: space-between;
}

.heroes {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #F4F4F4;
}

.favourites {
  width: 30%;
  text-align: center;
  background: #EBEBEB;
}

.favourites .mat-card {
  background: #EBEBEB;
  border: 0;
  margin-bottom: 10px;
  box-shadow: none;
}


.characters {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.characters .content-image {
  display: flex;
  padding-left: 6px;
}

.characters div {
  padding-right: 20px;
}

.img-favorite {
  height: 300px;
  width: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
}

.content-heroes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 97%;
  justify-content: start;
  margin: 0 auto;
}

.favourites .content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.favourites h2 {
  margin-left: 10px;
}

.favourites .content-image h2 {
  margin: 0px;
  margin-left: 16px;
}

.favourites .mat-card-content > p {
  text-align: left;
}

.img-favorite-delete {
  position: absolute;
  top: 0;
  cursor: pointer;
  margin-left: 65%;
  display: block;
}

.sort {
  width: 200px;
  height: 41px;
  font-size: 16px;
  padding: 10px;
}

.loading {
  display: block;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  min-height: 470px;
}

@media (max-width: 1342px) {
  .content-heroes {
    justify-content: center;
  }
}
