.content-comic {
  width: 600px;
}

.header-comic {
  height: 300px;
  width: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  border-radius: 0;
}

.content-btn-close {
  text-align: right;
}

.btn-close {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mat-dialog-actions {
  flex-wrap: nowrap;
}

.mat-dialog-actions button {
  width: 50%;
}

.img-addFavourites{
  height: 26px;
  margin-right: 4px;
}

.btn-addFavourites:hover{
  color: #D51F25;
  background: #322827;
}